<!DOCTYPE html>
<html>
  <head>
  </head>

  <body>
    <tr>
    <% current_user ||= User.find(session[:user_id]) if session[:user_id]%>
    
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
          <% if current_user %>
            <img src=<%= current_user.profile_image %>>
            <li><%= link_to 'Home', root_path %></li>
            <li>Signed in as <%= current_user.name %></li>
            <li><a href = '/logout'>Log Out</li>
          <% else %>
            <li><%= link_to 'Home', root_path %></li>
            <li><%= link_to "Sign in with Github", "/auth/github" %></li>
          <% end %>
          </ul>
      </div>
    </div>

    <%Level.all.each do |x|%>
      <p>level: <a href=<%='/' + x.id%>><%=x.id%></a></p>
      <ul>
        <%x.chests.each do |chst|%>
          <li>chest: <a href=<%='/' + x.id + '/' + chst.id%>><%= chst.id%></a></li>
        <%end%>
      </ul>
    <%end%>
    <tr>
  </body>
</html>